* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
   background-image: url("../img/homebg.jpg");
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;

}

.logo a {
   color: #fff;
   text-decoration: none;
   font-family: 'Great Vibes', cursive;
   font-size: 24px;
   font-weight: lighter;
}

nav {
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-justify-content: space-around;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   min-height: 8vh;
   z-index: 800;
}

.nav-links {
   z-index: 989;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   width: 12%;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;

}

.nav-links li {
   list-style: none;
}

.nav-links a {
   font-size: 12px;
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
}

.nav-links a:hover {
   color: #222529;
}

.btn-c,
.nav-links .btn-c {
   //background-color: #e53167;
   padding: 10px 25px;
   //border-radius: 1000px;
   border: 1px solid #ffff;
   color: #fff;
}

.burger {
   display: none;
   cursor: pointer;
}

.burger div {
   height: 4px;
   width: 25px;
   margin: 5px;
   background-color: #fff;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

@media screen and (max-width: 1800px) {
   .nav-links {
      width: 15%;
   }
}

@media screen and (max-width: 1600px) {
   .nav-links {
      width: 15%;
   }
}

@media screen and (max-width: 1400px) {
   .nav-links {
      width: 15%;
   }
}

@media screen and (max-width: 1200px) {
   body {
      overflow-x: hidden;
   }

   .nav-links {
      position: absolute;
      right: 0px;
      height: 85vh;
      top: 8vh;
      background-color: #832DA4;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 50%;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.5s ease-in;
      transition: -webkit-transform 0.5s ease-in;
      -moz-transition: transform 0.5s ease-in, -moz-transform 0.5s ease-in;
      transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in, -moz-transform 0.5s ease-in;
      border-radius: 10px 0 0 0;
   }

   .nav-links li {
      opacity: 0;
   }

   .nav-links a {
      color: #fff;
   }

   .burger {
      display: block;
   }
}

.nav-active {
   -webkit-transform: translateX(0%);
   -moz-transform: translateX(0%);
   -ms-transform: translateX(0%);
   transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
   from {
      opacity: 0;
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
   }

   to {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
   }
}

@-moz-keyframes navLinkFade {
   from {
      opacity: 0;
      -moz-transform: translateX(50px);
      transform: translateX(50px);
   }

   to {
      opacity: 1;
      -moz-transform: translateX(0px);
      transform: translateX(0px);
   }
}

@keyframes navLinkFade {
   from {
      opacity: 0;
      -webkit-transform: translateX(50px);
      -moz-transform: translateX(50px);
      transform: translateX(50px);
   }

   to {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
   }
}

.toggle .line1 {
   -webkit-transform: rotate(-45deg) translate(-5px, 6px);
   -moz-transform: rotate(-45deg) translate(-5px, 6px);
   -ms-transform: rotate(-45deg) translate(-5px, 6px);
   transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
   opacity: 0;
}

.toggle .line3 {
   -webkit-transform: rotate(45deg) translate(-5px, -6px);
   -moz-transform: rotate(45deg) translate(-5px, -6px);
   -ms-transform: rotate(45deg) translate(-5px, -6px);
   transform: rotate(45deg) translate(-5px, -6px);
}

form {
   background-color: #fff;
   width: 90%;
   margin: 10% auto 0 auto;
}

form h1 {
   text-align: center;
   font-family: sans-serif;
   text-transform: uppercase;
   font-size: 24px;
   background-color: #5964BD;
   color: #fff;
   padding: 10px;
}

.row {
   width: 100%;
   margin: 0 auto;
   text-align: center;
}

.col {
   width: 100%;
   padding: 30px 0;
   margin: 0 auto;
}

.col .button {
   text-align: center;
}

.col .button button {
   background-color: #D72183;
   border: 1px solid transparent;
   font-family: sans-serif;
   font-size: 18px;
   color: #fff;
   padding: 10px 20px;
}


.col .button button:hover {
   background-color: transparent;
   border: 1px solid #D72183;
   color: #d72183;
}

.col-form {
   display: inline-block;
   margin: 20px;
   text-align: left;
}

.col-form label {
   font-size: 12px;
   text-transform: uppercase;
   font-family: sans-serif;
   font-weight: bolder;

}

.col-form select {
   background-color: #F1F6FE;
   border: none;
   padding: 10px;
   margin-top: 6px;

}

.col-form input {
   background-color: #f1f6fe;
   border: none;
   padding: 10px;
}